@model IM.PresentationLayer.Models.AuctionModelView

@{
    ViewBag.Title = "Carslist";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <table>
        @foreach (var item in Model.userProductModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GearTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicancePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_of_created)
                </td>
            </tr>
        }
    </table>