
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
    <link href="~/Content/Template/css/boostrap.css" rel="stylesheet" />
</head>
<body>

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4 mb-2">
                                <img class="mb-4 img-error" width="350" src="@Session["Url"]" />
                                <p class="lead" style="color:black;"><h2 style="color:black;">@Session["Title"]</h2></p>
                                <p class="lead">@Session["Source"]</p>
                                @if (Session["Exception"] != null)
                                {
                                    <p class="lead">@((Session["Exception"] as Exception).Message) </p>
                                }
                                @if (HttpContext.Current.Request.UrlReferrer == null)
                                {
                                    <a href="~/Anasayfa">Geri Dön</a>
                                }
                                else
                                {
                                    <a href="@(HttpContext.Current.Request.UrlReferrer.ToString())">Geri Dön</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="~/Content/Template/js/jquery.js"></script>
    <script src="~/Content/Template/js/boostrap.js"></script>
</body>
</html>
