@model IM.PresentationLayer.IhaleWCFService.PostModel

@{
    ViewBag.Title = "BlogIndex";
}

<div class="container">
    <div class="col-lg-12">
        <h1>@Html.DisplayFor(model => model.image_title)</h1>
        <br />
        <img src="@Html.DisplayFor(model => model.image_path)" alt="@Html.DisplayFor(model => model.image_subtitle)" />
        <p>
            <h3>@Html.DisplayFor(model => model.submit_article)</h3> 
        </p>
        <div>
            <span class="badge badge-pill badge-secondary">Posted @Html.DisplayFor(model => model.Post_date)</span><div class="pull-right">
                <span class="badge badge-pill badge-primary">story</span> <span class="badge badge-pill badge-primary">blog</span>
            </div>
        </div>

    </div>
</div>
