@model IM.PresentationLayer.Models.BlogModelView
@{
    ViewBag.Title = "Index";
}



    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var item in Model.Posts)
            {

            <div class="card">
                <img src="https://source.unsplash.com/WLUHO9A_xik/300x300" class="card-img-top img-responsive" alt="" />@*@item.image_subtitle   @item.image_path*@
                <div class="card-body">
                    <h5 class="card-title">@item.image_title</h5>
                    <p class="card-text">@item.submit_article.Substring(0, 2)</p>
                    <p class=" float-right">
                        <a href="@Url.Action("Content","Blog")/@item.Post_id">Devamını Oku</a>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated @item.Post_date</small>
                </div>
            </div>

            }

        </div>
    </div>