@using IM.PresentationLayer.Models
@model AuctionModelView

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Product Dashboard</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="index.html">auction</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="index.html">userproductdashboard</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("Create")">
                <button type="button" class="btn btn-success btn-lg"><i class="fa fa-plus"></i>&nbsp; Araç Ekle</button>
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="bg-white" id="table"
                   data-show-toggle="true"
                   data-show-pagination-switch="true"
                   data-show-refresh="true"
                   data-search="true"
                   data-pagination="true"
                   data-key-events="true"
                   data-show-print="true"
                   data-search-align="left"
                   data-select-item-name="id"
                   data-show-search-clear-button="true"
                   data-show-fullscreen="true"
                   data-show-columns="true"
                   data-page-size="15">
                <thead>
                    <tr>
                        <th data-field="id" data-sortable="true" data-width="10">ID</th>
                        <th data-field="maxprice" data-sortable="true">max price</th>
                        <th data-field="minprice" data-sortable="true">min price</th>
                        <th data-field="auctiondate" data-sortable="true">auction date</th>
                        <th data-field="auctionsalestime" data-width="20">auction sales time</th>
                        <th data-field="carbrand" data-width="20">car brand</th>
                        <th data-field="increaseprice" data-width="20">increase price</th>
                        <th data-field="carlicanceplate" data-width="20">car licance plate</th>
                        <th data-field="islemler" data-width="20">işlemler</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var auction in Model.auctions)
                    {

                        if (auction.isdeleted == false)
                        {
                            <tr>
                                <td>1</td>
                                <td>@auction.MAX_PRICE</td>
                                <td>@auction.MIN_PRICE</td>
                                <td>@auction.ACUTION_DATE</td>
                                <td>@auction.ACUTION_SALES_TIME</td>
                                <td>@auction.CarBrandName</td>
                                <td>@auction.INCREASE_PRICE</td>
                                <td>@auction.LicancePlate</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        @Html.ActionLink("Detay", "ProductDetail", new { id = auction.ID }, new { @class = "btn btn-secondary" })

                                        @Html.ActionLink("Sil", "Delete", "Cars", new { id = auction.ID }, new { @class = "btn btn-danger" })
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>


    </table>
</div>