@model IM.PresentationLayer.IhaleWCFService.UserAuctionModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserAuctionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACUTION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACUTION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACUTION_SALES_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACUTION_SALES_TIME)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CarBrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarMakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_OF_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_OF_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineDisplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineDisplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GearTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GearTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HardwareDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HardwareDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INCREASE_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCREASE_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicancePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicancePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAX_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAX_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MIN_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIN_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_created)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.registrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registrationDate)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
