@model IM.PresentationLayer.Models.AuctionModelView
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserAuctionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.auction.ACUTION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.ACUTION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auction.ACUTION_SALES_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.ACUTION_SALES_TIME)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.auction.CarBrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.CarBrandName)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.auction.DATE_OF_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.DATE_OF_UPDATE)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.auction.LicancePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.LicancePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auction.MAX_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.MAX_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auction.MIN_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.MIN_PRICE)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.auction.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.NAME)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.auction.date_of_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auction.date_of_created)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
