@model IM.PresentationLayer.Models.ContactModelView


<div class="modal inmodal" id="ContactAddModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-plus mr-2"></i>İletişim Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("ContactAddOperation", "Contact", FormMethod.Post, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnSuccess = "returnPostJson(data)",
                    LoadingElementId = "loading-background",
                    OnComplete = "ContactList()"
                },
                new
                {
                    @class = "ContactAdd",
                    @id = "frmContactAdd",
                    @name = "frmContactAdd",
                    @enctype = "multipart/form-data"
                }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address)
                        @Html.EditorFor(model => model.Address, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Faks)
                        @Html.EditorFor(model => model.Faks, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Faks, "", new { @class = "text-danger error-validate" })
                    </div>          
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefon)
                        @Html.EditorFor(model => model.Telefon, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.GoogleMapUrl)
                        @Html.EditorFor(model => model.GoogleMapUrl, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GoogleMapUrl, "", new { @class = "text-danger error-validate" })
                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="FormClear('frmContactAddd')" id="ContactClear">
                    <i class="fa fa-trash mr-1"></i>
                    Temizle
                </button>
                <button type="button" class="btn btn-primary" onclick="FormPost('frmContactAddd')" id="ContactSave">
                    <i class="fa fa-save mr-1"></i>
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>

